
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
Bitsight_VRM_Test_Cases_v2.xlsx
Bitsight_VRM_Test_Cases_v3.xlsx
Test Cases.xlsx
.env
abc.txt
